/*web resume test css*/

.jumbotron {
/* background-image: url("../images/04.jpg");*/
background-color: black;
text-align: center;

}

.jumbotron h1 {
color: dodgerblue;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.jumbotron .selfie img {
width: 100px;
height: 100px;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
}

.jumbotron p {
color: white;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.skills {
border-style: solid;
border-width: 10px;
border-color: dodgerblue;
margin: 5px;
text-align: center;
}

.col-sm-12 h2 {
text-align: center;
background-color: black;
color: white;
}

.education {
text-align: center;
background-image: url("../images/athenstech1.jpg");
border-style: solid;
border-width: 10px;
border-color: dodgerblue;
margin: 5px;
color: white;
font-size: 20px;
}

.education img{
padding: 10px;
}

.education p {
padding: 10px;
background-color: black;
}

.projects {
border-style: solid;
border-width: 10px;
border-color: dodgerblue;
margin: 5px;
}

.projects ul {
background-color: black;
padding: 10px;
font-size: 20px;
text-align: center;
color: white;
}

.nav {
color: white;
margin-bottom: 0 px;
padding-bottom: 0px;
}

.footer {
text-align: center;
}